{
    'presets': [
        ['env', {
            'targets': {
                'node': '8.9',
            },
        }],
    ],
    'plugins': [
        ['babel-plugin-root-import', [{ 'rootPathPrefix': '@', 'rootPathSuffix': 'src' }]],
        ['transform-object-rest-spread', { 'useBuiltIns': true }],
        'transform-class-properties',
    ],
}
